
/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background-color:grey;
  font-family: "Times New Roman", Times, serif;
}

/* html *
{
   font-family: "Times New Roman", Times, serif !important;
} */

h1 {
  font-size: 25px;
  color: rgb(35, 196, 188);
  font-weight: bold;
  padding: 15px;
  background-color:#fff;
  border-bottom: 1px solid rgb(204, 204, 204);
}

h2 {
  font-size: 20px;
  color: rgb(35, 196, 188);
  font-weight: bold;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid rgb(204, 204, 204);

}

h3 {
  font-size: 10px;
  color: rgb(35, 196, 188);
  font-weight: bold;
  padding: 15px;
  background-color: #fff;
  text-align: center;

}

main {
  margin-top: 30px;
}

.navbar-brand {
  font-size: 20px;
  background-color: rgb(35, 196, 188);
  font-weight: bold;
  border-top-color: rgb(35, 196, 188);
  border-bottom-color: rgb(35, 196, 188);
  color: #fff;
  padding: 20px;
  height: 50px;
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  min-height: 50px;
}


.container2 {
  position: absolute;
  margin: 55px;
  width: 1024px;
  /* margin: 0 auto; */
}

#main-landing {
  float: left;
  background-color: #fff;
  padding: 10px;
  margin-top: 25px;
}

#big-image {
  float: left;
  background-color: #fff;
  padding: 10px;
  margin-top: -20px;
}

#figure {
  position: relative;
}

#main-landing {
  width: 100%;
}

#big-image {
  width: 350px;
  height: 300px;
  margin-right: 15px;
}

#data-img {
  width: 400px;
  height: 400px;
}

#small-img {
  width: 100px;
  height: 100px;
}

#comp-img {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#vis-img {
  width: 500px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#vis-text {
  float: left;
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
}
